<% chat = @lecture.chat %>
<div class="flex flex-col gap-4 h-full">
  <div class="flex-shrink-0">
    <%= link_to @lecture.course_offering.name, course_offering_path(@lecture.course_offering) %>
    <h1>
      <%= @lecture.start_time_display %>
    </h1>
    <h2><%= chat.name %></h2>
    <h3 class="text-gray-400">
      <%= "Access Code: " %><span class="text-gray-400 access-code-text"
        ><%= chat.access_code %></span
      >
    </h3>
  </div>
  <div class="flex-shrink-0">
    <%= render partial: "lectures/power_bar" %>
  </div>
  <div class="flex flex-col flex-grow min-h-0">
    <div class="flex flex-grow min-h-0">
      <% if current_user == chat.user %>
        <%= render partial: "chats/speaker_view", locals: { chat: chat } %>
      <% end %>
    </div>
    <div class="flex-shrink-0">
      <%= render partial: "chats/learner_view", locals: { chat: chat }  %>
    </div>
  </div>
</div>
