<div class="flex flex-col h-full overflow-y-hidden px-4 pb-4 gap-4">
  <%= render partial: "chats/power_bar", locals: { chat: @chat } %>
  <div
    class="flex flex-col md:flex-row md:gap-5 md:justify-between items-baseline"
  >
    <h1><%= @chat.name %></h1>
    <h3 class="text-gray-400">
      <%= "Access Code: " %><span class="text-gray-400 access-code-text"
        ><%= @chat.access_code %></span
      >
    </h3>
  </div>
  <div class="flex-1 flex flex-col overflow-y-auto">
    <% if current_user == @chat.user %> <%= render partial:
    "chats/speaker_view", locals: { chat: @chat } %> <% end %> <%= render
    partial: "chats/learner_view", locals: { chat: @chat } %>
  </div>
</div>
