<!DOCTYPE html>
<html>
  <head>
    <title>Echolect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>

    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />

    <!-- Access to google Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Access to google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!--Ubuntu Sans Mono Font for access codes -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <!--Solitreo Font for branded text -->
    <link
      href="https://fonts.googleapis.com/css2?family=Solitreo&display=swap"
      rel="stylesheet"
    />
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "fontawesome", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-950 h-screen flex flex-col w-full items-center">
    <main class="flex-1 flex flex-col overflow-y-hidden w-full items-center">
      <%# flash.each do |name, msg| %> <%# if msg.class == Array %> <%# msg.each
      do |message| %> <%#= content_tag :div, message, :id => "flash_#{name}" %>
      <%# end %> <%# else %> <%#= content_tag :div, msg, :id => "flash_#{name}"
      %> <%# end %> <%# end %>
      <% if current_user %>
        <div class="p-2 flex flex-row w-full bg-gray-800 items-center gap-2">
          <div class="flex flex-1 flex-row w-full">
            <h2><%= current_user.name %></h2>
          </div>
        
          <%= render "layouts/institution_select" %>

          <%= button_to "Log out", destroy_user_session_path, method: :delete,
          class: "btn btn-primary text-button" %>
        </div>
        <br />
      <% end %>

      <div class="overflow-y-hidden w-full max-w-screen-xl h-full items-center">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
